.form-type-selector {
  display: flex;
  padding: 30px;
}

.form-type-selector select {
  text-align: center;
  display: flex;
  flex: fit-content;
  margin-left: 40vw;
  margin-right: 20vw;
}

.grow {
  height: 8px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;
  transition: 1.5s;
  padding: 0;
}

.grow:hover {
  height: initial;
  padding: 30px;
}